
<p>
	<%= form_with(model: @post) do |f| %>
	  <p>
	  	<%= f.label :Name %>
	  	<%= f.text_field :name %>
	  </p>
	   <p>
	  	<%= f.label :Description %>
	  	<%= f.text_field :description %>
	  </p>
	  <p>
	  	<%= f.submit %>
	  </p>
	<% end %>
</p>

<% if @post.errors.any? %>
    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>
